@import './_variables.scss';

.gift-card-preview {
  text-align: center;
  margin-top: 20px;

  img {
    max-width: 100%;
    height: auto;
    border: 2px solid $primary-color;
    border-radius: 8px;
  }

  p {
    font-family: $font-family;
    margin-top: 10px;
  }
}
